# main owner
* @The-FireHub-Project/admin-team

# all dot files will be handled by lead dev
.* @dieselxxx

# .github will be handled by maintenance team
/.github @The-FireHub-Project/maintenance-team

# CODEOWNERS will be handled by the owner
/.github/CODEOWNERS @dieselxxx

# README.md will be handled by maintenance team
/README.md @The-FireHub-Project/maintenance-team