# EditorConfig helps maintain consistent coding styles across different editors and IDEs.
# https://editorconfig.org/

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = false
max_line_length = 120

# PHP files
[*.php]
indent_size = 4

# HTML files
[*.html]
indent_size = 2

# CSS / SCSS files
[*.{css,scss}]
indent_size = 2

# JavaScript / TypeScript files
[*.{js,ts}]
indent_size = 2

# Text files
[*.txt]
trim_trailing_whitespace = false
max_line_length = off

# Markdown files
[*.md]
indent_size = 2
trim_trailing_whitespace = false
max_line_length = off

# Twig files
[*.twig]
indent_size = 2
max_line_length = off

[*.svg]
indent_size = 2
max_line_length = off

# YAML / YML files
[*.{yml,yaml}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# XML files
[*.xml]
indent_size = 2

# INI files
[*.ini]
indent_size = 2

# ENV files
[*.env]
trim_trailing_whitespace = false

# CFF files
[*.cff]
indent_size = 2

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# Windows scripts
[*.bat]
indent_style = space
indent_size = 2

# PowerShell scripts
[*.ps1]
indent_style = space
indent_size = 2