# Set default behavior to automatically normalize line endings
* text=auto

# 40-character hexadecimal blob object name
* ident

# files and directories that won’t be added to archive files
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore