# Set default behavior to automatically normalize line endings
* text=auto

# 40-character hexadecimal blob object name
* ident

# files and directories that won’t be added to archive files
/.github export-ignore
/.gitattributes export-ignore
/CHANGELOG.md export-ignore
/CITATION.cff export-ignore
/README.md export-ignore