includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
    level: 10
    paths:
        - app/
    bootstrapFiles:
        - bootstrap/console.php
    treatPhpDocTypesAsCertain: false
    checkDynamicProperties: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkImplicitMixed: true
    checkInternalClassCaseSensitivity: true
    checkMissingTypehints: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    reportAlwaysTrueInLastCondition: true
    reportAnyTypeWideningInVarTag: true
    reportMaybesInMethodSignatures: true
    reportMaybesInPropertyPhpDocTypes: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportStaticMethodSignatures: true
    reportUnmatchedIgnoredErrors: false
    reportWrongPhpDocTypeInVarTag: true
    tipsOfTheDay: false