<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap = "web/index.php"
         colors="true"
         cacheDirectory="storage/cache/phpunit/.phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true">
  <testsuites>
    <testsuite name="unit">
      <directory>tests/unit</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">app</directory>
    </include>
  </source>
  <php>
    <ini name="display_errors" value="1"/>
    <ini name="display_startup_errors" value="1"/>
    <ini name="error_reporting" value="E_ALL &amp; ~E_WARNING &amp; ~E_NOTICE &amp; ~E_DEPRECATED" />
  </php>
</phpunit>