name: Scorecard analysis

on:
  branch_protection_rule:
  push:
    branches:
      - master

permissions:
  security-events: write
  id-token: write
  contents: read

jobs:
  build:
    uses: The-FireHub-Project/.github/.github/workflows/Scorecard.yml@master