<IfModule mod_rewrite.c>

    #
    # This file is part of the FireHub Web Application Framework package
    #
    # Hypertext Access file is a directory-level plain text configuration file for web servers.
    # @since 1.0.0
    #
    # @author Danijel Galić <danijel.galic@outlook.com>
    # @copyright 2025 FireHub Web Application Framework
    # @license <https://opensource.org/licenses/OSL-3.0> OSL Open Source License version 3
    #
    # @package App\Web
    #
    # @version GIT: $Id$ Blob checksum.
    #

    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    DirectoryIndex index.php

    RewriteEngine On

    # Add HTTP_AUTHORIZATION header
    RewriteCond %{HTTP:Authorization} .+
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%0]

    # Rewrite files and folders on index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

</IfModule>