<?xml version="1.0" encoding="UTF-8"?>

  <!--
  - This file is part of the FireHub Project ecosystem
  -
  - The web.config is an XML file read by IIS to configure an app hosted with IIS.
  - @since 1.0.0
  -
  - @author Danijel Galić <danijel.galic@outlook.com>
  - @copyright 2026 The FireHub Project - All rights reserved
  - @license https://opensource.org/licenses/MIT MIT License
  -
  - @package App\Web
  -
  - @version GIT: $Id$ Blob checksum.
  -->

  <configuration>
    <system.webServer>
      <defaultDocument>
        <files>
          <clear />
          <add value="index.php" />
        </files>
      </defaultDocument>

      <rewrite>
        <rules>
          <!-- Add HTTP_AUTHORIZATION header -->
          <rule name="Authorization Header" stopProcessing="true">
            <match url=".*" />
            <conditions>
              <add input="{HTTP_AUTHORIZATION}" pattern=".+" />
            </conditions>
            <serverVariables>
              <set name="HTTP_AUTHORIZATION" value="{HTTP_AUTHORIZATION}" />
            </serverVariables>
            <action type="None" />
          </rule>

          <!-- Front controller: redirect non-existing files/folders to index.php -->
          <rule name="Front Controller" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="index.php" />
          </rule>
        </rules>
      </rewrite>

      <!-- Optional: Disable directory browsing -->
      <directoryBrowse enabled="false" />
    </system.webServer>
  </configuration>