<?xml version="1.0" encoding="UTF-8"?>

  <!--
  - This file is part of the FireHub Web Application Framework package
  -
  - The web.config is an XML file read by IIS to configure an app hosted with IIS.
  - @since 1.0.0
  -
  - @author Danijel Galić <danijel.galic@outlook.com>
  - @copyright 2025 FireHub Web Application Framework
  - @license <https://opensource.org/licenses/OSL-3.0> OSL Open Source License version 3
  -
  - @package App\Web
  -
  - @version GIT: $Id$ Blob checksum.
  -->

  <configuration>
    <system.webServer>
      <security>
        <requestFiltering allowDoubleEscaping="true"></requestFiltering>
      </security>
      <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
      </defaultDocument>
      <rewrite>
        <rules>
          <rule name="Rewrite for index.php">
            <match url="(.*)" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="index.php?url={UrlEncode:{R:1}}" />
          </rule>
        </rules>
      </rewrite>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
    <system.web>
      <identity impersonate="false" />
    </system.web>
  </configuration>